# dotenv environment variable files
.env
.env.*
!.env.local.example

# Next.js build output
.next
out

# hi-res images sources
image-sources

# misc
.DS_Store
*.pem
.vscode/
*.tsbuildinfo
next-env.d.ts

# debug
npm-debug.log*

# netlify
.netlify

# dependencies
node_modules
